<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/index :: dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main>
	<tbody>
    <div class="articl">
            <h1 class="h1">TIN TỨC</h1>
            <h2 class="h2">Giày Travis Scott x Fragment x Air Jordan 1 chính hãng giá bao nhiêu?</h2>
            <h5 class="h5">Posted by Thế Phong</h5>
             <div id="test"><img src="/images/giay-travis-scott-fragment-air-jordan-2.jpg" alt=""></div>
        <div class="box-GT">
           
            <p>Hình ảnh của Travis Scott x Fragment x Air Jordan 1 mới đã bắt đầu lan truyền trên internet. 
                Mẫu sản phẩm này được cho là sẽ phát hành vào mùa thu năm nay. 
                Cùng chúng tôi phân tích xem mẫu giày này giá chính hãng bao nhiêu và có thực sự đáng mua hay không nhé. </p>

            <p>Cập nhật: Thông tin chính thức, đôi giày này sẽ được phát hành 
                vào 29/7/2021 tại các cửa hàng của Nike và 1 số cửa hàng được chỉ định.</p>
                
            <p>Hiện tại, Ruby Luxury Store đã nhận order mẫu giày Travis Scott x Fragment x Air Jordan 1 cổ cao và cổ thấp hàng best quality với giá 4,5 triệu. 
                Bạn có thể liên hệ để biết thêm chi tiết hoặc truy cập mẫu cổ cao và cổ thấp để đặt hàng.</p>
                
        </div>
       <h3 class="h3">Phân tích review giày Travis Scott x Fragment x Air Jordan 1</h3><br>
        <div class="box-GT">
            <p>Khi nói đến sự hợp tác, không ai có thể làm được điều đó như Fragment và Travis Scott . 
                Hiroshi Fujiwara và La Flame đang tạo ra những con đường riêng của họ trong ngành 
                công nghiệp giày thể thao với sự trợ giúp của di sản Air Jordan.</p>
            <p>Sau khi xuất hiện những hình ảnh đầu tiên trên instagram của Houston, 
                cộng thêm việc xuất hiện trên chân của Travis khi anh ấy đi chơi với Kylie Jenner và con gái Stormi, 
                đã gây lên sự tò mò và yêu thích của hàng ngàn sneakerhead trên khắp thế giới. 
                Nhiều người dự đoán đây chắc chắn là mẫu giày sneaker of the year 2021 như các mẫu Jordan 1 mà TS và Fujiwara 
                từng ra mắt trước đó.</p>
            <div><img src="/images/giay-travis-scott-fragment-air-jordan-1.jpg" alt=""></div>
            
        </div>
        <div class="box-GT">
            <p>Được làm lại trong một tông màu “xanh navy” tương tự như thiết kế Fragment của năm 2014 x Air Jordan 1 , 
                được thiết kế bởi Hiroshi Fujiwara không kém, đôi này có nhiều nhãn hiệu thiết kế Scott và phân mảnh khác nhau xung quanh.
            </p>

            <p>Đáng chú ý nhất, đôi này có biểu tượng Swoosh đảo ngược ở cả hai bên của giày thể thao, 
                trong khi biểu tượng tia chớp thiết kế mảnh được tìm thấy trên gót giày chỉ xuất hiện một lần - bàn chân còn lại hiện có biểu tượng Cactus Jack. 
                Phần trên được làm từ da trắng, xanh và đen, tạo cho giày một cảm giác cao cấp tổng thể, trong khi thương hiệu Cactus Jack xuất hiện nhiều hơn trên lưỡi gà. </p>
            <div><img src="/images/giay-travis-scott-fragment-air-jordan-2.jpg" alt=""></div>
        </div>
        <h3 class="h3">Giày Travis Scott x Fragment x Air Jordan 1 giá bao nhiêu?</h3><br>
        <div class="box-GT">
            <p>Hiện tại, vẫn chưa có ngày phát hành chính thức cho thiết kế mảnh x Travis Scott x Air Jordan 1. 
                Thông tin liên quan đến cặp đôi này vẫn đang được công bố. Đây có thể chỉ là một F&F? 
                Có phải La Flame và Hiroshi Fujiwara sắp phá vỡ Internet với một viên nang hypebeast tối thượng? Thời gian sẽ trả lời sớm.</p>
            <div><img src="/images/giay-travis-scott-fragment-air-jordan-3.jpg" alt=""></div>
            <p>Tuy nhiên, xét về các thiết kế của bộ đôi Travis và Fujiwara thì có thể thấy mức giá đến tay người tiêu dùng thường không bao giờ rẻ. 
                    Có thể thấy trên trang Stockx, giá của cả 2 đôi đều trên 2000 USD và có lúc lập đỉnh với hơn 5000 USD cho những size khó tìm. Ở Việt Nam. 
                    những mẫu này khá hiếm size và mức giá luôn dao động từ 60 triệu đến 100 triệu đồng.</p>
            <p>Vì thế, chắc chắn mẫu collab 3 thương hiệu lớn này có giá không tầm thường, 
                có thể sánh ngang với các dòng Off-White trước đó, 
                tiến sát đến mức mà Jordan x Dior đã lập nên từ năm ngoái.</p>
            <p>Tóm lại, lựa chọn là do bạn, nếu vẫn yêu thích mẫu giày đỉnh cao này, 
                bạn có thể check ngang qua website của chúng tôi 
                để tìm kiếm thêm các mẫu giày siêu cấp hoặc order chính đôi Jordan 1 siêu cấp này nhé.</p>
        </div>
    </div>
   
</tbody>
</main>
</body>
</html>