<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/index :: dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main>
		<tbody>
    <div class="articl">
            <h1 class="h1">TIN TỨC</h1>
            <h2 class="h2">Giày Air Jordan 11 chính hãng giá bao nhiêu?</h2>
            <h5 class="h5">Posted by Thế Phong</h5>
             <div id="test"><img src="/images/giay-jordan-11-dep-nhat-4.jpg" alt=""></div>
        <div class="box-GT">
           
            <p>Cứ mỗi dịp cuối năm, dòng Jordan 11 lại nổi lên, càn quét làng sneaker. 
                Nếu bạn là 1 người yêu thích bóng rổ hoặc đam mê rap, 
                thì chắc chắn không thể bỏ qua mẫu giày cổ điển này.</p>

        </div>
       <h3 class="h3">Lịch sử ra đời của dòng Nike Air Jordan 11</h3><br>
        <div class="box-GT">
            <p>Air jordan 11 là một đôi giày bóng rổ AJ được thiết kế và được bán vào năm 1996. 
                Thiết kế của đôi giày thể thao này được lấy cảm hứng từ vỏ máy cắt cỏ, 
                và đệm khí Air Sole được sử dụng để mang lại hiệu suất tốt hơn trên sân.</p>

            <p>Mùa giải 1995-1996, Jordan mặc AJ 11 và dẫn dắt đội đạt thành tích 72 trận thắng 
                và 10 trận thua chưa từng có trong lịch sử NBA, trở thành đội đầu tiên trong 
                lịch sử NBA đạt 70 trận thắng 4:2 chung cuộc.</p>  
                
            <p>Trong những năm tiếp theo, 
                ordan đã nhiều lần tuyên bố trước công chúng rằng: AJ 11 là đôi giày thể thao yêu thích của anh ấy!</p>  
                
            <p>Jordan 11 cũng là đôi giày sử dụng da độc quyền đầu tiên của Nike, 
                giúp giày khó bị giãn hơn. Thân giày sử dụng vật liệu sợi lưới, 
                giúp giảm đáng kể trọng lượng của toàn bộ đôi giày! Đồng thời có thể chống biến dạng hay kéo giãn hiệu quả. 
                Lần đầu tiên thêm một tấm carbon bằng sợi dài đầy đủ vào đế , mà bây giờ chúng ta gọi là tấm carbon , 
                để ngăn chặn sự biến dạng của giày thể thao và nhanh chóng sửa chữa hiệu ứng của đế. Với midsole, 
                Tinker đã không sử dụng đệm khí Zoom mới được phát triển , để đảm bảo an toàn, 
                hãng tiếp tục sử dụng đệm khí Air Sole hoạt động tốt ở mọi khía cạnh.</p> 
                
            <p>Sơ qua về tổng quan của đôi giày này mới thấy tính cách mạng trong thiết kế của Tinker với đôi giày Jordan 11, 
                do đó, hiện nay có khá nhiều phối màu được ra mắt, 
                nhưng những phối màu giày Jordan 11 đẹp nhất lịch sử dưới đây chắc chắn sẽ là nỗi “thèm khát” của nhiều sneakerhead.</p>
        
        </div>
        <h3 class="h3">Jordan 11 chính hãng giá bao nhiêu?</h3><br>
        <div class="box-GT">

            <p>Đây là một tác phẩm kinh điển chắc chắn, một đôi tác phẩm nghệ thuật đứng trên hàng đầu của những đôi giày bóng rổ, 
                một bộ sưu tập phải có cho mọi nhà sưu tập giày. 
                Đôi sneakers này còn được mệnh danh là thiết kế đẹp nhất của Tinker Hatfield!
                Thiết kế của Tinker và sự quyến rũ của Jordan khiến AJ11 ra đời trở nên phi thường.</p>

            <p>Hiện tại, giá chính hãng phát hành lần đầu của đôi Jordan thế hệ thứ 11 này là 220 USD (tương đương 5 triệu đồng). 
                Còn ở thị trường Việt, những đôi cổ thấp có mức dao động từ 5 triệu - 8 triệu đồng, 
                còn dòng cổ cao dao động từ 7 triệu - 15 triệu đồng tùy phối màu. Bạn có thể tham khảo thêm tại các store nhé.</p>
                
            <p>Dưới đây, là 1 số đôi nổi tiếng nhất và mức giá của chúng:</p>

        </div>
        <h3 class="h3">Air Jordan 11 Adapt CH</h3><br>
        <div class="box-GT"> 
           <p>Giá chính hãng: 18 triệu đồng</p>
           <div><img src="/images/giay-air-jordan-11-adapt-white.jpg" alt=""></div>
           
            <p>Air Jordan 11 Adapt CH là chiếc Air Jordan 11 tự buộc dây đầu tiên.</p>

            <p>Do cấu trúc công nghệ cao, giá bán cao tới 10 triệu đồng, và giá thị trường đã từng tăng vọt 
                lên khoảng 20 triệu đồng vào thời điểm cao điểm!</p>
                
            <p>Tuy nhiên, với sự phổ biến ngày càng tăng của công nghệ Thích ứng, giá thị trường của nó đã giảm xuống còn khoảng 18 triệu đồng, 
                đây không phải là một mức quá cao để bạn có thể sở hữu 1 đôi giày tuyệt vời này.</p>
    </div>
        <h3 class="h3">Jordan 11 Cool Grey</h3><br>
        <div class="box-GT">
            <p>Giá chính hãng: 8 triệu đồng</p>
            <div><img src="/images/jordan-11-cool-grey-2021.jpg" alt=""></div>
            <p>Phối màu “Cool Grey” là một trong những phối màu mà mình phải nhắc đến ở Air Jordan 11. Không còn tin tức gì nữa sau đợt tái xuất vào năm 2010. Sau 11 năm, cuối cùng cũng đã có thông báo rằng nó sẽ trở lại tại cuối năm nay.</p>

            <p>Dù không phải năm đầu tiên đọ sắc, nhưng lần xuất hiện này trùng với lần trở lại thứ 2. Việc khoác lên mình chiếc áo đấu của Washington Wizards trên sân vẫn còn nguyên vẹn trong ký ức, và tôi tin rằng đó chắc chắn là một điều bất ngờ với nhiều cầu thủ cũ.</p>
                
            <p>Toàn bộ đôi giày được làm với hình dáng màu xám lạnh cổ điển, thể hiện khí chất đơn giản khác hẳn với sự tương phản trắng đen của “Kang buckle”, tổng thể có phần cao cấp hơn. Chất liệu khác với vải lưới nylon ra đời trước, da mờ vẫn được lựa chọn để tạo nên cổ áo, giúp khôi phục lại kết cấu của nhiều năm trước, với khí chất thanh tao, nhã nhặn.</p>
        </div>
        <h3>Giày Air Jordan 11 “Concord”</h3><br>
        <div class="box-GT">
            <p>>Giá chính hãng: 13 triệu (cổ cao) - 12,5 triệu (cổ thấp)</p>
            <div><img src="/images/giay-jordan-11-dep-nhat.jpg" alt=""></div>
            <p>Air Jordan 11, ban đầu đang trong giai đoạn bảo mật, khiến Jordan rất thích nó ngay từ cái nhìn đầu tiên nên đã bỏ qua lời can ngăn của thương hiệu. Trên thực tế, những đôi giày này ban đầu đã được lên kế hoạch để lộ diện vào mùa giải tới.</p>

            <p>Jordan đã thể hiện tình yêu của mình đối với Air Jordan 11 “Concord” trước công chúng hơn một lần, và đôi AJ cổ điển này cũng tạo ra nhiều lần đầu tiên trong lịch sử!</p>
            
            <p>Đồng thời, tấm carbon, một công nghệ mới với độ bền cao và trọng lượng nhẹ, cũng là công nghệ lần đầu tiên xuất hiện trên giày Air Jordan nhằm tránh những tổn thương do gập đế quá nhiều trong thực tế thi đấu, từ đó trở thành những đôi giày bóng rổ cao cấp.</p>
        </div>
        </div>
</tbody>
		
		
		
		
	</main>

</body>
</html>