<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/index :: dynamic(~{::main})}"s>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<main>
		<tbody>
    <div class="articl"> 
            <h1 class="h1">TIN TỨC</h1>
            <h2 class="h2">3+ giày Jordan 3 đắt nhất từ trước đến nay</h2>
            <h5 class="h5">Posted by Thế Phong</h5>
             <div id="test"><img src="/images/tintuc2.jpg" alt=""></div>
        <div class="box-GT">
           
            <p>Lấy cảm hứng từ huyền thoại bóng rổ Michael Jordan, Nike 
                đã cho ra đời một trong những dòng giày thể thao thành công nhất mà thế giới từng chứng kiến cho đến nay. 
                Ngoài biểu tượng thời trang và ý nghĩa của chúng đối với những người hâm mộ cuồng nhiệt nhất của Jordan, 
                đôi giày thể thao này đã phát triển trở thành một trong những đôi giày thể thao bán chạy nhất và 
                đồng thời đắt nhất trên thị trường. Nếu bạn yêu thích những mẫu AJ3, hãy cùng Ruby Luxury Store 
                tổng hợp lại 10+ giày Jordan 3 đắt nhất từ trước đến nay trong bài viết dưới đây nhé.</p>

        </div>
       <h3 class="h3">Jordan 3 Retro Legends of Summer</h3><br>
        <div class="box-GT">
            <p>Ngày phát hành: 2013</p>
            <p>Giá bán: $ 9,250</p>
            <div><img src="/images/Air-Jordan-3-Retro-Legends-of-Summer.jpg" alt=""></div>
            <p>Năm 2013, Justin Timberlake và Jay-Z đi lưu diễn. Buổi biểu diễn của họ được gọi là Chuyến lưu diễn mùa hè huyền thoại. 
                Trong suốt chuyến lưu diễn, Nike đã cung cấp cho Timberlake rất nhiều đôi giày mà anh ấy đã mang trong buổi biểu diễn. 
                Timberlake sải bước trên sân khấu suốt cả mùa hè sau khi cặp Nikes được tạo ra dành riêng cho anh ấy.</p>

            <p>Một cặp như vậy là một màu đỏ hoàn toàn rất khó tìm. Những đôi giày đắt tiền này gần như cháy hàng ngay khi ai đó rao bán và thật dễ hiểu tại sao. 
                Màu đỏ khiến chúng trở nên nổi bật, và việc chúng được đeo bởi huyền thoại Justin Timberlake càng khiến chúng trở nên đặc biệt hơn.</p>  
        
        </div>
        <h3 class="h3">Air Jordan 3 Retro DJ Khaled Father of Asahd</h3><br>
        <div class="box-GT">
            <p>Ngày phát hành: 2018</p>
            <p>Giá bán: $ 8,759</p>
            <div><img src="/images/Air-Jordan-3-Retro-DJ-Khaled-Father-of-Asahd.jpg" alt=""></div>
            <p>Như trong danh sách này, Nike được biết đến với việc hợp tác với các nghệ sĩ âm nhạc nổi tiếng. 
                DJ Khaled là một fan hâm mộ của những đôi giày Jordan hiếm hoi, vì vậy việc thương hiệu tạo ra một đôi giày dành riêng cho anh ấy là 
                điều hiển nhiên. 
                Đôi này, Father of Asahd, thực sự là đôi thứ hai mà Nike đã phát hành để vinh danh ông.</p>

            <p>Đôi giày được tạo ra để kỷ niệm việc phát hành album của DJ Khaled, Father of Asahd . 
                Đôi giày có màu xanh lam tươi sáng và có thẻ treo có nội dung “Chúng tôi là người giỏi nhất”. Giá bán lại trung bình là hơn $ 8,000</p>  
        
        </div>
        <h3 class="h3">Air Jordan 3 Retro DJ Khaled Grateful</h3><br>
        <div class="box-GT">
            <p>Ngày phát hành: 2017</p>
            <p>Giá bán: $ 7,733</p>
            <div><img src="/images/Air-Jordan-3-Retro-DJ-Khaled-Grateful.jpg" alt=""></div>
            <p>Như đã nói ở trên, DJ Khaled là một fan của dòng Air Jordan. 
                Với việc phát hành album Grateful , Nike đã tạo ra một đôi Air Jordan 3 Retros dành riêng cho anh ấy. 
                Chúng có hình in giống như Father of Asahd, nhưng đường màu chính là màu đỏ tươi thay vì màu xanh lam. 
                Giá của đôi này đã có lúc lên tới 14.000 đô la nhưng dần về sau giảm khoảng 7.700 đô la.</p>

        </div>
        </div>
</tbody>
		
		
		
		
	</main>
</body>
</html>