<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/index :: dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main>
	<tbody>
    <div class="articl">
            <h1 class="h1">TIN TỨC</h1>
            <h2 class="h2">Giày 1 tỷ - sneaker chỉ dám mơ, không thể mua</h2>
            <h5 class="h5">Posted by Thế Phong</h5>
             <div id="test"><img src="/images/giay-sneaker-1-ty-3.jpg" alt=""></div>
        <div class="box-GT">
           
            <p>Một ngôi nhà trị giá 1 tỷ, 1 chiếc xe giá hơn 1 tỷ là chuyện bình thường với nhiều người, 
                nhưng đôi giày 1 tỷ là cả 1 niềm mơ ước đối với mọi sneakerhead. 
                Bài viết dưới đây sẽ tổng hợp những đôi giày trị giá trên dưới 50.000 USD mà bạn chỉ có thể mơ chứ không thể mua, 
                vì 1 phần giá đắt, 1 phần cũng vì nó cực hiếm. </p>

            <p>Danh sách những đôi giày thể thao và những con số được đề cập dưới đây được tổng hợp từ nhiều nguồn khác nhau trên web, 
                chẳng hạn như Stockx, Goat, Stadium Goods, List25, Sneaker Freaker & Fashion Beans .</p>
    
        </div>
       <h3 class="h3">Air Jordan 11 'Jeter' - $ 40.000</h3><br>
        <div class="box-GT">
            <div><img src="/images/giay-sneaker-1-ty.jpg" alt=""></div>
            <p>Để kỷ niệm sự kiện nghỉ hưu của Derek Jetter vào năm 2017, 
                Thương hiệu Jordan đã phát hành năm đôi Air Jordan 11 màu nhung hải quân, 
                trong một cuộc đấu giá cửa hàng pop-up gần Sân vận động Yankee.</p>

            <p>Đôi giày thể thao có số “2” nổi tiếng trên gót giày màu trắng, 
                tôn lên phần bao quanh da lộn màu xanh nước biển.</p>
                
            <p>Nhưng có lẽ tốt nhất là bạn nên quên việc từng sở hữu một đôi này, 
                vì ba trong số năm cặp được lưu trữ trong các cửa hàng ký gửi của Mỹ, 
                và hai cặp còn lại sẽ có giá một gia tài nhỏ - đó là ngay cả khi chủ sở hữu sẽ bán!</p>
        
        </div>
        <h3 class="h3">Diamond Encrusted Air Force 1 - 50.000 USD</h3><br>
        <div class="box-GT">
            <div><img src="/images/giay-sneaker-1-ty-3.jpg" alt=""></div>
            <p>Nếu bạn có sở thích sang chảnh và thích kim cương, 
                thì bạn sẽ yêu thích chiếc Big Boi's Diamond Encrusted Air Force 1's.</p>

            <p>Không phải là đôi giày hiếm nhất trên thế giới, cũng không phải được đeo bởi bất kỳ vận động viên nổi tiếng nào, 
                thay vào đó, những đôi giày này được bao phủ bởi những viên kim cương champagne, 
                đó là lý do tại sao chúng có giá 50.000 USD.</p>
                
            <p>Mang một đôi giày như thế này có thể thu hút sự chú ý không đúng cách, 
                đó là lý do tại sao Big Boi đã bán đấu giá những đôi giày này để gây quỹ cho Quỹ của mình.</p>
        </div>
        <h3>Air Jordan 12 OVO (Drake Edition) - $100,000</h3><br>
        <div class="box-GT"> 
           <div><img src="/images/giay-sneaker-1-ty-2.jpg" alt=""></div>
            <p>Air Jordan 12 OVO luôn là một đôi giày phổ biến, 
                tuy nhiên, phiên bản Drake đã thổi bay cánh cửa về sự phổ biến của nó, 
                được bán với giá 100.000 đô la trên eBay!</p>

            <p>Được rất nhiều ngôi sao thể thao, 
                rapper và những người nổi tiếng ưa chuộng, phiên bản OVO của Drake 
                chỉ thực sự phù hợp với những người giàu có và nổi tiếng.</p>
                
            <p>100.000 đô la khiến đây trở thành một trong những đôi giày thể thao đắt nhất từng được sản xuất!</p>
    </div>
        <h3 class="h3">Air Jordan 12 (Flu Game) - $ 104,000</h3><br>
        <div class="box-GT">
            <div><img src="/images/giay-sneaker-1-ty-1.jpg" alt=""></div>
            <p>Không hoàn toàn nằm trong top ba, nhưng ở khá gần, là Air Jordan 12 Flu Games.</p>

            <p>Từng được nhắc đến là đôi Jordan đắt nhất thế giới; 
                cái giá thực sự bắt nguồn từ việc Michael Jordan mang đôi giày thể thao trong bộ phim nổi tiếng “Flu Game” - một trò chơi mà anh ấy đã chơi khi bị cúm.</p>
                
            <p>Được bán với giá 104.000 USD, đây cũng là một trong những đôi giày hiếm nhất hành tinh!</p>
        </div>
</tbody>
</main>
</body>
</html>