<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/index :: dynamic(~{::main})}">


<body>
    <main style="background-color:#fff8f8;">
       <section id="about-head" class="section-p1" >
        <img src="/images/logo_mini.png " alt="">
        <div>
            <h2>
                Giới Thiệu
            </h2>
            <p>

                Đến với "MYSHOES” quý khách hàng sẽ có những sản phẩm ưng
                ý nhất, chất lượng phục vụ tốt và giá thành tốt nhất, cùng những “
                Chương Trình Khuyến Mãi Đặc Biệt”.

                MyShoes là điểm đến hoàn hảo cho những người
                yêu thích thế giới giày dép đa dạng và phong cách! Chúng tôi tự hào
                là một cửa hàng chuyên nghiệp cung cấp những sản phẩm giày hàng đầu
                với đa dạng mẫu mã và chất lượng đỉnh cao.

                Tại MyShoes, chúng tôi cam kết mang đến cho bạn những trải
                nghiệm mua sắm thú vị và thoải mái nhất. Với bộ sưu tập đa dạng từ
                các thương hiệu nổi tiếng, chúng tôi tự tin rằng bạn sẽ tìm thấy
                đôi giày phù hợp với phong cách cá nhân và nhu cầu sử dụng của
                mình. Từ những đôi sneakers thời trang cho cuộc sống hàng ngày, đến
                những đôi giày chất lượng cho các dịp quan trọng, MyShoes luôn đồng
                hành cùng bạn trong mọi bước đi.

                Chúng tôi luôn đặt chất lượng lên hàng đầu và đảm bảo rằng
                mỗi sản phẩm trong cửa hàng đều được kiểm tra kỹ lưỡng trước khi
                đến tay bạn. Đội ngũ chuyên nghiệp và tận tâm của chúng tôi sẽ luôn
                sẵn sàng tư vấn và hỗ trợ bạn trong quá trình chọn lựa sản phẩm. </br>
                </p><p>
                Hãy đặt niềm tin vào MyShoes để thỏa mãn đam mê của bạn với
                giày dép và để chúng tôi là điểm đến đáng tin cậy trong cuộc hành
                trình khám phá thế giới giày thời trang. Cảm ơn bạn đã lựa chọn
                MyShoes, chúc bạn một trải nghiệm mua sắm vui vẻ và hài lòng!
            </p>

        </div>
       
    </section>
    <div  id="about-body" >
     	<h3>
             MỤC ĐÍCH CỦA CHÚNG TÔI
         </h3>
         <img alt="" src="/img/banner_about1.jpg">
         <p>
         Chúng tôi luôn mang trong mình câu nói 'Tự tin bước đi' khi nó thể hiện sự tâm huyết của cửa hàng bán giày. 
           Chúng tôi tin là một trạng thái tinh thần mà chúng ta cần khi bước ra khỏi nhà và đối mặt với thế giới.
           khuyến khích khách hàng của MyShoes cảm thấy tự tin khi mang đôi giày phù hợp.
           Bất kể đó là giày thể thao hay giày công sở, khi khách hàng mang đôi giày mà họ yêu thích và phù hợp với phong cách cá nhân,
            họ sẽ tự tin hơn khi điều này đồng nghĩa với việc họ sẽ có một ngày thành công và tràn đầy tự tin.
           'Tự tin bước đi' mang đến thông điệp rằng My Shoes không chỉ cung cấp sản 
          phẩm giày chất lượng mà còn muốn khách hàng tự tin và tự nhiên hơn trong mọi hoạt động của cuộc sống hàng ngày."
         
         </p>
         
    </div>
    	
    </main>
</body>

</html>